.contenta{
  width: 100%;
  height: calc(100vh - 80px);
  background-image:url(./../images/bgmv.png); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  position: relative;
  z-index: -1;
  display: block;
  top: 0px;
  left: 0px;

}


.contentachild  h2{
    font-size: 40px;
    position: absolute;
    top: 3%;
    left: 4%


}

.contentachild  p{
   position: absolute;
   left: 30%;
   top: 45%;
   font-size: 26px;
   display: inline-block;
   width: 300px;
   height: 400px;
   text-shadow: gray 15px 5px 15px;

	
}
.singlanimation{

	position: absolute;
	left: 40%;
	top: 90%;
}
