.Tcontent{
	width: 100%;
	height: 50vh;
     margin-top: 100px;
}
.contentcimg{
	display: inline-block;
	width: 50%;
	height: 100%;

}
.contentcimg img{
     position: relative;
     width: 60%;
     height: 50%;
     box-shadow: -5px 5px 5px gray;
     left: 30%;
     vertical-align: middle;

}


.contentcp {
     display: inline-block;
     position: relative;
     width: 40%;
     height: 100%;
     margin-left: 5%;
   
}
.contentcp h2{
     margin-top: 50px;
}
.contentcp p{
     margin-top: 20px;
}
.contentcbutton{
   padding: 5px;
   background: white;
   position: relative;
   border: 1px solid black;
   font-size: 18px;
   margin-top: 10px;
   left: 20%;  

}
 .contentcbutton a {
   text-decoration: none;
   color: black;

}